<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
        </div>
        <div class="card-footer text-muted">
          <%= link_to 'More Info', cocktail, class: "text-primary"  %>
      </div>
      </div>
<% end %>
<%= link_to "Add New", new_cocktail_path, class: "btn btn-primary" %>
