.home-banner {
  background-image:  linear-gradient(#f1d75ac2, #f1d75a87), url('https://source.unsplash.com/a4z8GRkVSUM/1600x900');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

  justify-content: space-around;

  img {
    width: 500px;
    height: auto;
    margin: 50px;
    opacity: 1;
  }

  .btn-banner {
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      background: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
    }
  }
}

 // xBFTjrMIC0c
 // ZOUlCOIlx80
