.cards-page {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  height: 170px;
  // padding: 20px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 20px 5px;
  width: 16rem;
  font-weight: 24px;
  color: aliceblue;

  .more-info {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
