.navbar-lewagon {
  justify-content: space-between;
  background-color: #f1d75ac2;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 50px;
  color: aliceblue;
}

.navbar-lewagon-white {
  background-color: #f1d75ac2;
}

.transparent {
  background-color: transparent;
}

